@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #daf0ff;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.display{
    font-size: 48px;
    background-color: #17181A;
    border: none;
    outline: none;
    text-align: right;
    padding-top: 50px;
    grid-column: 1 / 5;
    grid-row: 1 / 3; 
}

.container{
    background: linear-gradient(191.34deg, #17181a -4.95%, #17181A 103.7%);
    border-radius: 39px;
    width: 375px;
    height: 568px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    padding: 20px;

}

button{
    font-size: 24px;
    border-radius: 16px;
    border: none;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover{
    opacity: 80%;
}

button:active{
    opacity: 60%;
}

.nunber{
    background-color: #303136;
}

.operators{
    background-color: #005db2;
}

.operators-2{
    background-color: #616161;
}

.equal{
    background-color: #1991ff;
    grid-row: 6 / 8;
    grid-column: 4 / 5;
}

.zero{
    grid-column: 1/ 3;
}